<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TaskList - Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <h2>Login to your account</h2>
            <div id="loginform" class="form-group">
                <form name="f" action="/users/login" method="POST">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control"/>
                    <label>Password</label>
                    <input type="password" name="password" class="form-control"/> 
                    
                    <br/>
                    <input type="submit" value="Log in" style="margin-bottom: 2%;"/>
                    
                    <br/>
                    <div class="well well-sm">
                        <strong>If you dont have an account </strong><a href="/users/reg">register</a>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </body>
</html>
